<nav class="toc">
    <ul>
        <li{% if page.url == "/index.html" or page.url == "/" or page.url == "" %} class="bg-note"{% endif %}>
            <a href="index.html">Home</a>
        </li>
        <li{% if page.url == "/setup.html" %} class="bg-note"{% endif %}>
            <a href="setup.html">Installation &amp; Setup</a>
        </li>
        <li{% if page.url == "/bot.html" %} class="bg-note"{% endif %}>
            <a href="bot.html">Build a Bot with Bot Service</a>
        </li>
        <li{% if page.url == "/luis.html" %} class="bg-note"{% endif %}>
            <a href="luis.html">Create a LUIS App</a>
        </li>
        <li{% if page.url == "/qna.html" %} class="bg-note"{% endif %}>
            <a href="qna.html">Store Knowledge with QNA Maker</a>
        </li>
        <li{% if page.url == "/arm.html" %} class="bg-note"{% endif %}>
            <a href="arm.html">Automate Solutions with ARM</a>
        </li>
        <li{% if page.url == "/cleanup.html" %} class="bg-note"{% endif %}>
            <a href="cleanup.html">Cleanup Resource Groups</a>
        </li>
    </ul>
</nav>
